<!DOCTYPE html>
<html lang="zxx" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Kobby Clark</title>
    <meta name="description" content="This project was built by Kobby Clark for his mini project">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="./assets/vendors/bootstrap/css/bootstrap.min.css">
    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
</head>
<body>
    <div class="wrapper">
        <div class="cover">
            <!-- Header -->
            <header class="header">
                <div class="container">
                    <nav class="navbar navbar-expand-lg align-content-center px-0">
                      <a class="navbar-brand logo" href="#">Advice</a>
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                      </button>

                      <div class="collapse navbar-collapse" id="menu">
                        <ul class="navbar-nav ml-lg-auto">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link ips" href="#about-us">About Us</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link ips" href="#feaures">Features</a>
                          </li>
                          <li class="nav-item nav-item-divider d-none d-lg-block"></li>
                          <li class="nav-item">
                            <a class="nav-link ips" href="#join-us">Join Community</a>
                          </li>
                        </ul>
                      </div>
                    </nav>
                </div>
            </header>
            <!--/ End Header -->
            <!-- Hero -->
            <div class="jumbotron jumbotron-fluid bg-transparent hero section m-0">
              <div class="container">
                <div class="row align-items-end align-items-xl-center">
                    <div class="col-12 col-lg-5">
                        <div class="hero-content text-center text-lg-left">
                            <h1 class="hero-title">Clinidiction is here for you</h1>
                            <!-- Empty Space -->
                            <div class="space-md"></div>
                            <!--/ End Empty Space -->
                            <p class="lead">we are here to help, thats our speciality.</p>
                            <!-- Empty Space -->
                            <div class="space-md"></div>
                            <!--/ End Empty Space -->
                            <a href="#" class="btn btn-lg btn-primary hero-btn">Get started</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7 px-0">
                        <img src="./assets/images/hero-img.png" class="img-fluid hero-img" alt="Hero image">
                    </div>
                </div>
              </div>
            </div>
            <!--/ End Hero -->
        </div>
        <!-- About Us -->
        <section id="about-us" class="section about-us">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a href="#" class="video-wrapper text-center d-block">
                            <img src="./assets/images/video-bg.png" alt="About us" class="img-fluid">
                            <div class="play-btn btn-secondary"><i class="fas fa-play"></i></div>
                        </a>
                        <!-- Empty Space -->
                        <div class="space-lg"></div>
                        <!--/ End Empty Space -->
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-7 text-center text-lg-left">
                                <h3>
                                    Maecenas finibus libero sed mi pulvinar, et pulvinar nisl lobortis. Suspendisse risus.
                                </h3>
                            </div>
                            <div class="col-12 col-lg-5 text-center text-lg-right">
                                <!-- Empty Space -->
                                <div class="space-md d-block d-lg-none"></div>
                                <!--/ End Empty Space -->
                                <a href="#" class="btn btn-lg btn-primary about-us-btn">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/ End About Us -->
        <!-- Feature -->
        <section id="feaures" class="section feature">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 text-center mx-auto">
                        <img src="./assets/images/icon.png" alt="icons" class="icon">
                        <!-- Empty Space -->
                        <div class="space-md"></div>
                        <!--/ End Empty Space -->
                        <h2>
                            Lorem ipsum dolor
                        </h2>
                        <!-- Empty Space -->
                        <div class="space-md"></div>
                        <!--/ End Empty Space -->
                        <p class="lead">
                            Cras aliquam, urna sed bibendum placerat nunc urna imperdiet est ac laoreet justo dui vel lorem. Nullam at felis sit amet lorem pretium sodales et non urna.
                        </p>
                        <!-- Empty Space -->
                        <div class="space-md"></div>
                        <!--/ End Empty Space -->
                    </div>
                </div>
            </div>
        </section>
        <!--/ End Feature -->
        <!-- Feature -->
        <section class="section feature">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6 text-center">
                        <img src="./assets/images/iphone.png" alt="iphone" class="img-fluid iphone-img">
                    </div>
                    <div class="col-12 col-lg-5 mr-lg-auto text-center text-lg-left">
                        <!-- Empty Space -->
                        <div class="space-md d-block d-lg-none"></div>
                        <!--/ End Empty Space -->
                        <img src="./assets/images/icon.png" alt="icons" class="icon">
                        <!-- Empty Space -->
                        <div class="space-md"></div>
                        <!--/ End Empty Space -->
                        <h2>
                            Lorem ipsum dolor
                        </h2>
                        <!-- Empty Space -->
                        <div class="space-md"></div>
                        <!--/ End Empty Space -->
                        <p class="lead">
                            Cras aliquam, urna sed bibendum placerat nunc urna imperdiet est ac laoreet justo dui vel lorem. Nullam at felis sit amet lorem pretium sodales et non urna.
                        </p>
                        <!-- Empty Space -->
                        <div class="space-md"></div>
                        <!--/ End Empty Space -->
                    </div>
                </div>
            </div>
        </section>
        <!--/ End Feature -->
        <!-- Feature -->
        <section class="section feature">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-12 col-lg-6 text-center order-lg-2">
                        <img src="./assets/images/iphone.png" alt="iphone" class="img-fluid iphone-img">
                    </div>
                    <div class="cl-12 col-lg-5 ml-lg-auto text-center text-lg-left">
                        <!-- Empty Space -->
                        <div class="space-md d-block d-lg-none"></div>
                        <!--/ End Empty Space -->
                        <img src="./assets/images/icon.png" alt="icons" class="icon">
                        <!-- Empty Space -->
                        <div class="space-md"></div>
                        <!--/ End Empty Space -->
                        <h2>
                            Lorem ipsum dolor
                        </h2>
                        <!-- Empty Space -->
                        <div class="space-md"></div>
                        <!--/ End Empty Space -->
                        <p class="lead">
                            Cras aliquam, urna sed bibendum placerat nunc urna imperdiet est ac laoreet justo dui vel lorem. Nullam at felis sit amet lorem pretium sodales et non urna.
                        </p>
                        <!-- Empty Space -->
                        <div class="space-md"></div>
                        <!--/ End Empty Space -->
                    </div>
                </div>
            </div>
        </section>
        <!--/ End Feature -->
        <!-- CTA -->
        <section id="join-us" class="section CTA">
            <div class="container">
                <div class="row">
                    <div class="col-11 col-lg-10 mx-auto">
                        <div class="box box-shadow text-center">
                            <h2>Join Community</h2>
                            <!-- Empty Space -->
                            <div class="space-md"></div>
                            <!--/ End Empty Space -->
                            <p class="lead">
                                Cras aliquam, urna sed bibendum placerat nunc urna imperdiet est ac laoreet justo dui vel lorem. Nullam at felis.
                            </p>
                            <!-- Empty Space -->
                            <div class="space-md"></div>
                            <!--/ End Empty Space -->
                            <form class="form row align-items-center align-content-center">
                                <label class="col-2 label d-none d-lg-block">Email</label>
                                <input class="col-8 col-lg-7 form-control form-control-lg" type="text" name="email" placeholder="example@themesfor.app">
                                <input class="col-4 col-lg-3 form-control form-control-lg" type="submit" name="submit" value="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--/End CTA -->
        <!-- Footer -->
        <footer class="footer section">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-7 col-lg-4 mr-md-auto">
                                <div class="logo">Themes For App</div>
                                <!-- Empty Space -->
                                <div class="space-md"></div>
                                <!--/ Empty Space -->
                                <p>
                                    Cras aliquam, urna sed bibendum placerat nunc urna imperdiet est ac laoreet justo dui vel lorem. Nullam at felis.
                                </p>
                            </div>
                            <div class="col-sm-3 col-md-2 col-lg-3 mt-4 mt-sm-0">
                                <ul class="nav flex-column">
                                    <li class="nav-item nav-title">Menu</li>
                                    <li class="nav-item">
                                        <a href="#about-us" class="nav-link ips">About us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#feaures" class="nav-link ips">Features</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-3 col-md-2 col-lg-3 mt-4 mt-sm-0">
                                <ul class="nav flex-column">
                                    <li class="nav-item nav-title">Company</li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Privacy</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Terms</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="copyright text-lg-left">
                            <!-- Empty Space -->
                            <div class="space-md"></div>
                            <!-- Empty Space -->
                            &copy; Copyright. All rights reserved. Theme by <a href="https://themesfor.app">Themes For App</a> and Images from <a href="https://unsplash.com/" rel="nofollow">Unsplash</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--/ End Footer -->
    </div>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5ee8ba339e5f69442290abb7/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
    <!-- jQuery Script -->
    <script src="./assets/vendors/jquery/jquery.min.js"></script>
    <!-- Popper Script -->
    <script src="./assets/vendors/bootstrap/js/popper.min.js"></script>
    <!-- Bootstrap Script -->
    <script src="./assets/vendors/bootstrap/js/bootstrap.min.js"></script>
    <!-- Main Script -->
    <script src="./assets/js/main.js"></script>
</body>
</html>